@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
.main-page {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(120deg, #fef9c3, #f0f2f3);
  font-family: "Poppins", sans-serif;
}
.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
  color: #e6e9f1;
}
.event-grid {



  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.event-card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 20px 40px rgba(233, 225, 225, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.event-card:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 30px 60px rgba(253, 241, 74, 0.2);
}
.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.event-card h2 {
  padding: 20px;
  text-align: center;
  font-size: 22px;
  color: #020617;
}